



ul {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
li{
    list-style: none;
    font-size: 1.5rem;
}
li:hover {
    transition:all 200ms ease-in-out;
    transform: scale(1.2);

}
